* {
    color: black;
    padding: 0;
    margin: 0;
}

html, body, main {
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
}

main {
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
}

.create-note {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header, footer {
    background-color: lightgray;
}

footer {
    position: absolute;
    bottom: 0;
    right: 10px;
}